body {
    background: linear-gradient(to bottom, black 0%,black 20%,lightblue 20%,lightblue 100%);
    background: lightblue;
}
h1 {
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    color: white;
    /*margin-left: 20px;*/
    font-size: 400%;
    text-align: left;
}
.navbar_ul {
    position: sticky;
    top: 0;
    /*top: 0; This puts it at the top*/
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    list-style-type: none;
    padding: 0;
    width: auto;
    /*position: absolute;*/
    /*margin-left: 31.5%; sets margin to the left */
    text-align: center;
    overflow: hidden;
    background-color: white;
}



.navbar_li a {
	float: left;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    display: block;
    color: black;
    text-align: center;
    font-size: 180%;
    padding: 30px 100px;
    text-decoration: none;
    transition: transform .3s; /* Animation */
}

/* Change the link color to #111 (black) on hover */
.navbar_li a:hover {
    background-color: #111;
    transform: scale(1.2);
    color: white;
}

img {
	size: 50%;
}
}